@{
    var context = ViewContext.HttpContext;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="AnduinOS is a custom Ubuntu-based Linux distribution that aims to facilitate developers transitioning from Windows to Linux by maintaining familiar operational habits and workflows. AnduinOS uses apt to manage system-wide packages and uses flatpak to manage graphical applications."/>
    <meta name="author" content="Anduin Xue">
    <title>@ViewData["Title"] - AnduinOS</title>
    <link rel="canonical" href="@(context.Request.Scheme)://@(context.Request.Host)@(context.Request.Path)" />
    <link rel="shortcut icon" href="/favicon.svg">
    <link href="~/node_modules/@@aiursoft/uistack/dist/css/app.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">
    @await RenderSectionAsync("styles", required: false)
</head>

<body>

@RenderBody()

<script src="~/node_modules/@@aiursoft/uistack/dist/js/app.js" asp-append-version="true" defer></script>
@await RenderSectionAsync("scripts", false)

<vc:footer></vc:footer>

</body>

</html>

