.iglmodal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
 }
 .iglmodal-content {
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.3);
    display: block;
    margin: auto;
 }
#iglmodal .close {
    position: absolute;
    top: 24px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    z-index: 10000;
}

.landing-intro-screenshot img {
    transform: rotateY(-20deg) rotateX(2deg);
}

img[gallery] {
    cursor: pointer
}

.row.py-4 {
    position: relative;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17);
}

.middle-card {
    transform: scale(1.15);
    z-index: 1;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-left: -14px;
    margin-right: -14px;
}

.middle-card:hover {
    transform: scale(1.17);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.row.py-4 .col-sm-4:nth-child(1),
.row.py-4 .col-sm-4:nth-child(3) {
    z-index: 0;
}

nav.navbar{
    display:block;
    z-index:10;
    right:0;
    left:0;
    border-bottom:1px solid #4b4f5c
}

.landing-intro{
    padding-top:160px!important
}

@media (max-width: 576px) {
    .middle-card {
        transform: none!important;
        transition: none!important;
        margin: 0!important;
    }

    .middle-card:hover {
        transform: none !important;
    }
}

/*App Wall*/

.app-wall-container {
    position: relative;
    height: 650px;
    overflow: hidden;
    background-color: #feffff;
    border-radius: 1rem;
}

.app-wall-scroller {
    display: flex;
    flex-direction: column;
    animation: scroll-vertical 60s linear infinite;
}

.app-wall-container:hover .app-wall-scroller {
    animation-play-state: paused;
}

.app-wall-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 1.3rem;
    padding: 1.3rem;
}

.app-wall-grid img {
    height: 72px;
    width: 72px;
    object-fit: contain;
    opacity: 0.2;
    transition: all 0.3s ease;
}

.app-wall-foreground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 960px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}

@keyframes scroll-vertical {
     from {
         transform: translateY(0);
     }
     to {
         transform: translateY(-50%);
     }
 }
