.landing-intro-screenshot img {
    transform: rotateY(-20deg) rotateX(2deg);
}

.row.py-4 {
    position: relative;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17);
}

.middle-card {
    transform: scale(1.15);
    z-index: 1;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-left: -14px;
    margin-right: -14px;
}

@media (max-width: 576px) {
    .middle-card {
        transform: none;
        transition: none;
    }

    .middle-card:hover {
        transform: none !important;
    }
}

.middle-card:hover {
    transform: scale(1.17);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.row.py-4 .col-sm-4:nth-child(1),
.row.py-4 .col-sm-4:nth-child(3) {
    z-index: 0;
}
