.iglmodal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
 }
 .iglmodal-content {
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.3);
    display: block;
    margin: auto;
 }
#iglmodal .close {
    position: absolute;
    top: 24px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    z-index: 10000;
}

.landing-intro-screenshot img {
    transform: rotateY(-20deg) rotateX(2deg);
}

.row.py-4 {
    position: relative;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17);
}

.middle-card {
    transform: scale(1.15);
    z-index: 1;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-left: -14px;
    margin-right: -14px;
}

.middle-card:hover {
    transform: scale(1.17);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.row.py-4 .col-sm-4:nth-child(1),
.row.py-4 .col-sm-4:nth-child(3) {
    z-index: 0;
}

nav.navbar{
    display:block;
    position:fixed;
    z-index:10;
    right:0;
    left:0;
    border-bottom:1px solid #4b4f5c
}

.landing-intro{
    padding-top:160px!important
}

@media (max-width: 576px) {
    .middle-card {
        transform: none!important;
        transition: none!important;
        margin: 0!important;
    }

    .middle-card:hover {
        transform: none !important;
    }
}
